<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 403 - Página não autorizada</title>
  <link rel="stylesheet" href="../styles/erro403.css">
</head>
<body>



  <!-- Conteúdo principal -->
  <div class="error-container">
    <img src="erro403.png" alt="Erro 403 - Página não autorizada">
    <h1>Erro 403 - Página não autorizada</h1>
    <p>Por favor, verifique suas credenciais ou volte para a página inicial.</p>
    <a href="#">Voltar para a página inicial</a>
  </div>


</body>
</html>
