<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 404 - Página não Encontrada</title>
  <link rel="stylesheet" href="../styles/erro404.css">
</head>
<body>

  <!-- Conteúdo principal -->
  <div class="error-container">
    <img src="https://res.cloudinary.com/dnet6nodm/image/upload/v1761179854/pages_imgs/pdxwlctny5si77lrwf97.png" alt="Erro 404 - Página não Encontrada">
    <h1>Erro 404 - Página Não Encontrada</h1>
    <p>A página que você esta procurando não existe ou não foi encontrada. Por favor, volte para a página inicial.</p>
    <a href="#">Voltar para a página inicial</a>
  <!-- futuramente trocar o # pela rota da página inicial -->
  </div>

</body>
</html>
